# Global
COMPOSE_PROJECT_NAME=event-driven-order-platform
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SCHEMA_REGISTRY_URL=http://localhost:8081
SPRING_PROFILES_ACTIVE=local

# Databases per service
ORDER_DB_URL=jdbc:postgresql://localhost:5432/order_db
ORDER_DB_USERNAME=order_user
ORDER_DB_PASSWORD=order_pass

PAYMENT_DB_URL=jdbc:postgresql://localhost:5433/payment_db
PAYMENT_DB_USERNAME=payment_user
PAYMENT_DB_PASSWORD=payment_pass

INVENTORY_DB_URL=jdbc:postgresql://localhost:5434/inventory_db
INVENTORY_DB_USERNAME=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass

NOTIFICATION_DB_URL=jdbc:postgresql://localhost:5435/notification_db
NOTIFICATION_DB_USERNAME=notification_user
NOTIFICATION_DB_PASSWORD=notification_pass

SHIPPING_DB_URL=jdbc:postgresql://localhost:5436/shipping_db
SHIPPING_DB_USERNAME=shipping_user
SHIPPING_DB_PASSWORD=shipping_pass

# Observability
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
